* {
  box-sizing: border-box;
}

body {
  font-family: 'Big Shoulders Display', cursive;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
  background-color: hsl(0, 0%, 95%);
} 

footer {
  text-align: center;
} 

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0px 0px;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 0px 10px 10px;
}


@media (min-width: 375px) {
  main {
    /* display: grid;*/
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    min-height: 100vh;
    display: grid;
    justify-content: center;
  } 
/* The Header*/
  .sedans, .suvs, .luxury {
    max-width: 37.5rem;
    height: 480px;
    color: rgb(255, 255, 255);
    padding-top: 1rem;
  }
  .header{
    padding-top: 1rem;
    padding-left: 3.7rem;
    text-transform: uppercase;
  }

/* The description of each Vehicles*/
  .desc_sedan, .desc_suvs, .desc_lux {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    padding-left: 3.7rem;
    padding-right: 2.7rem;
  }

  p.desc_sedan, p.desc_suvs, p.desc_lux {
    line-height: 1.7;
    color: hsla(0, 0%, 100%, 0.75);
  }
  
/*The icons*/
  img{
    padding-top: 2rem;
    padding-left: 3.7rem;
  }

/* Clickable button with link */
  #button, #button_1, #button_2 {
    border-radius:40px;
    color: rgb(233, 128, 8);
    border: 2px solid #f0f0f0;
    border-width:2px 30px;
    background-color: #f0f0f0;
    padding: 0.8rem; 
    text-align: center;
    width: 13rem; 
    margin-left: 3.7rem;
  }

  #button_1{
    color: hsl(184, 100%, 22%)
   }
   #button_2 {
    color: hsl(179, 100%, 13%);
   }
   a:link {
    text-decoration: none;
   }
}


@media (min-width: 1440px) {
/* display: grid;*/
  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
    border-radius: 10px 0px 0px 0px;
  }
/*The icons*/
img{
  padding-top: 0.9rem;
  padding-left: 3.7rem;
}
  /* The Header*/
  .sedans, .suvs, .luxury {
    max-width: 144rem;
    height: 550px;
    color: rgb(255, 255, 255);
    padding-top: 2rem;
  }
  .sedans {
    border-radius: 10px 0px 0px 10px;
   }
 
 .luxury {
  margin-left: 0px;
  border-radius: 0px 10px 10px 0px;
 }

 /* The description of each Vehicles*/
 .desc_sedan, .desc_suvs, .desc_lux {
  padding-top: 0.5rem;
  padding-left: 3.5rem;
  padding-right: 4rem;
  padding-bottom: 5.5rem;
 }
 p.desc_sedan, p.desc_suvs, p.desc_lux {
  line-height: 1.7;
  color: hsla(0, 0%, 100%, 0.75);
 }


/* Clickable button with link */
 #button, #button_1, #button_2 { 
  border-radius: 40px;
  color: hsl(31, 77%, 52%);
  border-width:1px 30px #f0f0f0;
  text-align: center;
  width: 20px;
  height: 60px;  
  margin-left: 52px;
  margin-top: 30px;
 } 

 #button_1{
  color: hsl(184, 100%, 22%)
 }

 #button_2 {
  color:hsl(179, 100%, 13%);
 }
 
}

